.accueil-photos {
    
    background-color: white;
    width: 100%;
  }
  .erea{
    position: relative;
  }
  
  .map{
   margin-left: 25%;
  }
  
  .mapmaroc{
    display: none;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    /* position: absolute;
 left: 27.8%;
 top: 157.5%; */
  }
  .mapmaroc:hover {
    filter: brightness(0.25);
}
.mapmauritanie{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    /* position: absolute;
    left: 29.95%;
    top: 182.8%; */
  } .mapmauritanie:hover {
    filter: brightness(0.25);
}
  .mapalgerie{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    /* position: absolute;
    left: 36.74%;
    top:161.95%; */
  } .mapalgerie:hover {
    filter: brightness(0.25);
}
  .maptunisie{
    display: none;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    /* position: absolute;
    left: 50.5%;
    top:161.5%; */

  } .maptunisie:hover {
    filter: brightness(0.25);
}
 
  .maplibye{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    /* position: absolute;
    left: 51.28%;
    top :161.65%; */
  } .maplibye:hover {
    filter: brightness(0.25);
}

#nameCounty{
    text-transform:capitalize ;
    text-align: center;
}

#mapbtn{
    display: none;
}
  
  /* .accueil-photos h2 {
    font-size: 24px;
    margin: 20px 0;
    color: #242424;
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .accueil-photos div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .accueil-photos img {
    width: 500px;
    height: 500px;
    max-width: 100%; 
    height: auto;
    transition: transform 0.3s;
  } */
  
  .image-container {
    position: relative;
    overflow: hidden;
    
  }
  
 .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: rgb(73, 72, 72);
    padding: 10px;
    transition: opacity 0.3s;
  }
  
   .image-container:hover .image-text {
    opacity: 0.5;
  }
  
   /* img:hover {
    opacity: 0.5;
  } */
  
   .image-container .image-text:hover { 
    opacity: 0.5;
  }
  
  .accueil-introduction {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
  }
  
  .accueil-introduction h1 {
    margin-bottom: 15px;
  }
  
  .accueil-introduction p {
    margin-bottom: 30px;
  }
  
  .accueil-introduction .texte {
    flex: 1;
    padding-right: 30px; 
  }
  
  .accueil-introduction img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
  }
  
  
  .section-contact h2 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
  
  }
  
  .form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input,
  textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
  }
  
  
  nav img { 
    width: 25%;
  }
  
  
  .banniereDyn {
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 1423px; 
    height: 500px;
    background-color: white;
  
  }
  
  .banniereDyn img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    /*animation: fade 5s infinite;*/
  }
  
  @keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  
  article {
    margin-top: 50px;
    margin-left: 20px;
  }
  
  
  
  
  
  @media screen and (max-width: 996px) {
    .accueil-introduction {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .accueil-introduction div {
      padding-right: 0;
      text-align: center;
      order: 2;
    }
  
    .accueil-introduction img {
      order: 1;
      margin-bottom: 20px;
      width: 100%;
    }
  
    .accueil-photos {
      padding: 20px;
    }
  
    .accueil-photos div {
      flex-direction: column;
    }
  
    .section-contact {
      padding: 50px 20px;
    }
  
    .form-nom-email {
      flex-direction: column;
      gap: 0;
    }
  }

  figcaption{
    margin-left: 22%;
    margin-top: -10%;
    
  }

  .dropbtn {
    background-color: #ffffff;
    color: rgb(27, 25, 25);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
    .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #5560b5;
  }
.navnav{
    width: 100%;
}


.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
  
  }

  .switch input {
  display: none;
  }

  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5560b5;
  -webkit-transition: .4s;
  transition: .4s;
  }

  .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  }

  input:checked + .slider {
      background-color: #5560b5;
  }

  input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
  }

  /*------ ADDED CSS ---------*/
  .on {
  display: none;
  }

  .on, .off {
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  }

  input:checked + .slider .on {
  display: block;
  }

  input:checked + .slider .off {
  display: none;
  }


/* -------Search bar */
.search {
  position: relative;
  width: 60px;
  height: 60px;
  background: #ffff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #5560b5;
  overflow: hidden;
}
.search.active{
  width: 360px;
}
.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;

}

.search .icon::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #5560b5;
  border-radius: 50%;
  transform: translate(-4px,-4px);
}
.search .icon::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background: #5560b5;
  transform: translate(6px,6px) rotate(315deg);
}

.search .input {
  position: relative;
  width: 300px;
  height: 45px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;

}
.clear {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
   
}
.clear::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background-color: #999;
  transform: rotate(45deg);
}
.clear::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background-color: #999;
  transform: rotate(315deg);
}