body {
    background-image: url("../Pictures/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    
}

.hautPage{
   display: flex;
   justify-content: space-between;
    align-items: center;
    font: bold;
    font-family: cursive;
}

.hidden{
    visibility: hidden;
}

h1{
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    padding: 5%;

    
}
.img{
    border-radius: 5%;
    width: 100%;
    
}

.imgtext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:10px ;
}

.imgtext div{
    width: 40%;
    font-family: cursive;
    font-size:x-large
}

.img1{
    width: 40%;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
    
}
#img3 {
    margin-right: 10%;
}