body {
    background-image: url("../Pictures/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
.hautPage{
    display: flex;
    justify-content: space-between;
     align-items: center;
     font: bold;
     font-family: cursive;
     font-size: 30px;
 }
 
 .hidden{
     visibility: hidden;
 }
 .music{
    padding: 30px;
    width: 70%;
    align-items: center;
    margin: auto;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    border-radius: 150px;
    background-color:rgba(255, 246, 234, 0.71);

 }
 .music2{
    padding: 50px;
    width: 100%;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    border-radius: 150px;
    background-color:rgba(255, 246, 234, 0.71);
 }
 .music21{
    padding: 10px;
    width: 40%;
    height: 500px;
    float: right;
    margin-right: 100px;
  
}
 .img1{
    width: 30%;
    height: 500px;
    float: left;
    border-radius: 35%;
    margin-left: 50px;

 }
 .music3{
    padding: 90px;
    margin-top: 100px;
    margin-right: 20px;
    width: 40%;
    float: left;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    border-radius: 150px;
    background-color:rgba(255, 246, 234, 0.71);

 }
.img2{
   margin-top: 60px;
    width:40%;
    height: 500px;
    float:right;
    border-radius: 35%;

 }
 /* @media screen and (max-width: 500px) {
  p {
      width: 100%;
    }
  
} */