body {
    background-image: url("../Pictures/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    
}

.hautPage{
   display: flex;
   justify-content: space-between;
    align-items: center;
    font: bold;
    font-family: cursive;
}

.hidden{
    visibility: hidden;
}



.cuisine{
    padding: 50px;
    width: 70%;
    margin: auto;
    font-family: cursive;
    text-align: center;
    border-radius: 150px;
    font-size: larger;
    background: linear-gradient( #fdd873 ,#f4cece, #ffff);
    
    
}

.pastilla{
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 10%;
    height: 200px;
    
}

.rfissa{
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 15%;
    height: 200px;
}

.tajine{
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 15%;
    height: 200px;
}

.couscous{
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 15%;
    height: 200px;
    
}

.pastilla1 {
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 10%;
    height: 200px;

}
 

.cuisine2 {
    padding: 50px;
    width: 45%;
    font-family: cursive;
    text-align: center;
    border-radius: 150px;
    font-size: larger;
    background: linear-gradient( #fdd873 ,#f4cece, #ffff);
    float: left;
    margin: 50px;
}

.the {
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 25%;
    height: 500px;
    margin: 50px;
    float: right;
    

}

.patisserie {
    margin-left: 100px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 20%;
    height: 200px;

}

.epices1 {
    margin-left: 150px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 20%;
    height: 200px;
}

.epices2 {
    margin-left: 50px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 30%;
    height: 300px;
    float: left;
    
    
}
.cuisine3 {
    padding: 50px;
    width: 45%;
    margin: auto;
    font-family: cursive;
    text-align: center;
    border-radius: 150px;
    font-size: larger;
    background: linear-gradient( #fdd873 ,#f4cece, #ffff);
    float: right;

}
.image{
    display: flex;
    justify-content: space-around;
}
/* New CSS  */


/* 
* {

    margin: 0;
  
  } */
  
  figcaption{
    margin-left: 22%;
    margin-top: -10%;
    
  }
  .imglogo{
    width: 15%;
    margin-bottom: 2%;
  }
  .figcap {
  margin-left: 15%;
  }
  
  .dropbtn {
    background-color: #ffffff;
    color: rgb(27, 25, 25);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: right;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ffffff}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #5560b5;
  }
  .navnav{
    width: 100%;
  }
  
  
  .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin-right: 5%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #5560b5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #5560b5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  
  .switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 34px;
    
    }
  
    .switch input {
    display: none;
    }
  
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5560b5;
    -webkit-transition: .4s;
    transition: .4s;
    }
  
    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }
  
    input:checked + .slider {
        background-color: #5560b5;
    }
  
    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }
  
    input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
    }
  
    /*------ ADDED CSS ---------*/
    .on {
    display: none;
    }
  
    .on, .off {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    }
  
    input:checked + .slider .on {
    display: block;
    }
  
    input:checked + .slider .off {
    display: none;
    }
  
  body {
  
    font-family: 'Manrope', sans-serif;
  
    font-size: 1em;
  
    background-color: #5560b5;
  
    overflow-x: hidden;
      
  }
    
  
  header {
  
    background-color: #ffffff;
    
    padding: 20px 50px;
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
  }
  
  footer {
  
    background-color: white;
  
    padding: 20px 50px;
  
  }

   
  
  .lien-icone:hover {
  
    opacity: 0.5;
  
  }
  
  section {
  
    padding: 40px;
  
  }
  
  footer,
  
  nav {
  
    display: flex;
  
    flex-direction: row;
  
    align-items: center;
  
    justify-content: space-between;
  
  }
  
   
  
  nav a {
  
    margin-left: 30px;
  
  }
  
  
  @media screen and (max-width: 996px) {
  
    header nav {
  
      flex-direction: column;
  
      align-items: center;
  
      justify-content: center;
  
    }
  
   
  
    header nav img {
  
      margin-bottom: 20px;
  
    }
  
   
  
    header,
  
    footer {
  
      padding: 20px 20px;
  
    }

  
  
  }