body {
    background-image: url("../Pictures/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    
}

.hautPage{
   display: flex;
   justify-content: space-between;
    align-items: center;
    font: bold;
    font-family: cursive;
}

.hidden{
    visibility: hidden;
}



.cuisine{
    padding: 50px;
    width: 40%;
    margin: auto;
    font-family: cursive;
    text-align: center;
    border-radius: 150px;
    font-size: larger;
    background: linear-gradient( #fdd873 ,#f4cece, #ffff);
    
    
}

.pastilla{
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 10%;
    height: 200px;
    
}

.rfissa{
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 15%;
    height: 200px;
}

.tajine{
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 15%;
    height: 200px;
}

.couscous{
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 15%;
    height: 200px;
    
}

.pastilla1 {
    
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 10%;
    height: 200px;

}
 

.cuisine2 {
    padding: 50px;
    width: 45%;
    font-family: cursive;
    text-align: center;
    border-radius: 150px;
    font-size: larger;
    background: linear-gradient( #fdd873 ,#f4cece, #ffff);
    float: left;
    margin: 50px;
}

.the {
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 25%;
    height: 500px;
    margin: 50px;
    float: right;
    

}

.patisserie {
    margin-left: 100px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 20%;
    height: 200px;

}

.epices1 {
    margin-left: 150px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 20%;
    height: 200px;
}

.epices2 {
    margin-left: 50px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    border-radius: 35%;
    width: 30%;
    height: 300px;
    float: left;
    
    
}
.cuisine3 {
    padding: 50px;
    width: 45%;
    margin: auto;
    font-family: cursive;
    text-align: center;
    border-radius: 150px;
    font-size: larger;
    background: linear-gradient( #fdd873 ,#f4cece, #ffff);
    float: right;

}
.image{
    display: flex;
    justify-content: space-around;
}
