body {
    background-image: url("../Pictures/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
.hautPage{
    display: flex;
    justify-content: space-between;
     align-items: center;
     font: bold;
     font-family: cursive;
     font-size: 30px;
 }
 
 .hidden{
     visibility: hidden;
 }
 .litt{
    padding: 50px;
    width: 70%;
    margin: auto;
    font-family: cursive;
    font-size: 30px;
    /* text-align: center;
    border-radius: 150px;
    background-color:rgba(255, 246, 234, 0.71); */

 }
 .litt2{
   width: 70%;
    padding: 50px;
    margin: auto;
    /* margin-top: 50px; */
    /* width: 40%; */
    /* float: right; */
    font-family: cursive;
    font-size: 30px;
    /* text-align: center;
    border-radius: 150px;
    background-color:rgba(255, 246, 234, 0.71); */

 }
 /* .bib{
    width: 50%;
    height: auto;
    float: left;
    border-radius: 35%; */

 /* } */
 .litt3{
    padding: 100px;
    width: 70%;
    margin: auto;
    /* margin-top: 50px; */
    /* width: 40%; */
  /* float: left; */
  font-family: cursive;
    font-size: 30px;
    /* text-align: center;
    border-radius: 150px;
    background-color:rgba(255, 246, 234, 0.71); */

 }
.vid{
    width: 65%;
    height: 345px;
    border-radius: 5%;
    margin-left: 17%;

 }
 /* New CSS  */


/* 
* {

    margin: 0;
  
  } */
  
  figcaption{
   margin-left: 22%;
   margin-top: -10%;
   
 }
 .imglogo{
   width: 15%;
   margin-bottom: 2%;
 }
 .figcap {
 margin-left: 15%;
 }
 
 .dropbtn {
   background-color: #ffffff;
   color: rgb(27, 25, 25);
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   text-align: right;
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {background-color: #ffffff}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
 .dropdown:hover .dropbtn {
   background-color: #5560b5;
 }
 .navnav{
   width: 100%;
 }
 
 
 .switch {
   position: relative;
   display: inline-block;
   width: 70px;
   height: 34px;
   margin-right: 5%;
 }
 
 .switch input { 
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked + .slider {
   background-color: #5560b5;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px #5560b5;
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }
 
 /* Rounded sliders */
 
 .switch {
   position: relative;
   display: inline-block;
   width: 150px;
   height: 34px;
   
   }
 
   .switch input {
   display: none;
   }
 
   .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #5560b5;
   -webkit-transition: .4s;
   transition: .4s;
   }
 
   .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   }
 
   input:checked + .slider {
       background-color: #5560b5;
   }
 
   input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
   }
 
   input:checked + .slider:before {
   -webkit-transform: translateX(55px);
   -ms-transform: translateX(55px);
   transform: translateX(55px);
   }
 
   /*------ ADDED CSS ---------*/
   .on {
   display: none;
   }
 
   .on, .off {
   color: white;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
   }
 
   input:checked + .slider .on {
   display: block;
   }
 
   input:checked + .slider .off {
   display: none;
   }
 
 body {
 
   font-family: 'Manrope', sans-serif;
 
   font-size: 1em;
 
   background-color: #5560b5;
 
   overflow-x: hidden;
     
 }
   
 
 header {
 
   background-color: #ffffff;
   
   padding: 20px 50px;
 
   display: flex;
 
   justify-content: space-around;
 
   align-items: center;
 
 }
 
 footer {
 
   background-color: white;
 
   padding: 20px 50px;
 
 }

  
 
 .lien-icone:hover {
 
   opacity: 0.5;
 
 }
 
 section {
 
   padding: 40px;
 
 }
 
 footer,
 
 nav {
 
   display: flex;
 
   flex-direction: row;
 
   align-items: center;
 
   justify-content: space-between;
 
 }
 
  
 
 nav a {
 
   margin-left: 30px;
 
 }
 
 
 @media screen and (max-width: 996px) {
 
   header nav {
 
     flex-direction: column;
 
     align-items: center;
 
     justify-content: center;
 
   }
 
  
 
   header nav img {
 
     margin-bottom: 20px;
 
   }
 
  
 
   header,
 
   footer {
 
     padding: 20px 20px;
 
   }

 
 
 }